$colors: (white: rgb(255, 255, 255),
    default-color: rgb(55, 55, 60),

    theme-color1:rgb(89, 48, 115),
    theme-color2:rgb(227, 5, 124),

    theme-color3: rgb(232, 229, 232),

    theme-color4:rgb(223, 136, 192),
);